body {

    background-color: #000000;

}

.heading{
    color: white;
    font-size: 70px;
}

.contact{

    margin-top: -50px;
    margin-left: -50px;
}

.Home:hover,
.Home:active{
    color:aqua;

}
.Home{
    color: white;
    text-decoration: none;
    font-size:30px ;
}  

.contact h2{

    color: white;
    margin-left: 600px;
}
.contact h2 span{
    color: aqua;
}
.contact form{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem; 
    margin: 10rem;
    margin-top:-50px ;

}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: aqua;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 1rem;
    color: white;
    background: black;
    border-radius: 2rem;
    border: 3px solid aqua;
    margin: 1rem 0;
    resize: none;
}


.contact form .btn{
    margin-top: 2rem;
    color: aqua;


    background-color:black; 
    border-radius: 4rem; 
    box-shadow: 0 0 10px aqua; 
    padding:10px 30px;
    margin-bottom: 50px;
    transition: 0.3s ease-in-out;
    border: 3px solid aqua;
    cursor: pointer;
}
.contact form .btn:hover{
    box-shadow: 0 0 20px aqua;
   transform: scale(1.05);
   background-color: aqua;
   color:white;
}

.footer{
    position: relative;

    width: 100%;

    background-color: rgb(80, 68, 68);

}



.footer ul li a{
    margin-top: 50px;

    color: rgb(255, 255, 255);

    padding-left: 5px;
    text-decoration: none;

  margin-left: 190px;
}

.footer ul {
    display: inline-flex;
    padding: 0;
    text-decoration: none;
}




.footer .copyright{
    margin-top: 50px;
    display: flex;
    color: rgb(255, 255, 255);

}
.copyright{
    background: rgb(80, 68, 68);
    justify-content: center;

    align-items: center;
}

.social{
    margin-top: -150px;
    margin-left: 160px;
}

.p{
    font-size: 2.5rem;
    background: transparent;
     color:aqua;
     border-radius: 50%;
     border: 3px solid aqua;
     transition: 0.3s ease-in-out;
     text-decoration: none;
     width: 3.5rem;
     height: 3.5rem;
     justify-content: center;
     display: inline-flex;
     align-items: center;

     margin-left: 10px;


}




.p:hover{
    box-shadow: 0 0 25px aqua,
    0 0 50px aqua ,
    0 0 100px aqua;
    color:white;
    transform: scale(1.2)translateY(-5px);
  background-color:aqua;
    border: 3px solid aqua;

}
.l{
    font-size: 2.5rem;
    background: transparent;
     color:aqua;
     border-radius: 50%;
     border: 3px solid aqua;
     transition: 0.3s ease-in-out;
     text-decoration: none;
     width: 3.5rem;
     height: 3.5rem;
     justify-content: center;
     display: inline-flex;
     align-items: center;

     margin-left: 10px;


}
.l:hover{
    box-shadow: 0 0 25px aqua,
    0 0 50px aqua ,
    0 0 100px aqua;
    color:white;
    transform: scale(1.2)translateY(-5px);
  background-color:aqua;
    border: 3px solid aqua;

}
.m{
    font-size: 2.5rem;
    background: transparent;
     color:aqua;
     border-radius: 50%;
     border: 3px solid aqua;
     transition: 0.3s ease-in-out;
     text-decoration: none;
     width: 3.5rem;
     height: 3.5rem;
     justify-content: center;
     display: inline-flex;
     align-items: center;

     margin-left: 10px;

}
.m:hover{
    box-shadow: 0 0 25px aqua,
    0 0 50px aqua ,
    0 0 100px aqua;
    color:white;
    transform: scale(1.2)translateY(-5px);
  background-color:aqua;
    border: 3px solid aqua;

}

